* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #f1f1f1;
}
img {
    width: 300px;
    height: 136px;
    object-fit: contain;
}
#wrap {
    width: 500px;
    min-width: 400px;
    height: 1120px;
    margin: 0 auto;
    background-color: #ffffff;
}

#login_area {
    width: 330px;
    height: 1000px;
    background-color: #ffffff;
    margin: 0 30px;
    position: absolute;
}

#login_header {
    width: 100%;
    height: auto;
    padding: 30px 0 0 0;
    text-align: center;
}

#login_box {
    width: 100%;
    margin: 0 auto;
}

#login_box .input {
    width: 100%;
    height: 50px;
    padding: 15px 10px 14px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#autologin{
    display: none;
}

form>.checkbox {
    height: 22px;
    display: inline-block;
    /*background: url("../images/check_small_off.png") left no-repeat;*/
    background-size: 20px 20px;
    cursor: pointer;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
    color: #aaa;
}

form>.checkbox_on{
    /*background: url("../images/check_small_on.png") left no-repeat;*/
    background-size: 20px 20px;
    color: #000;
}


.submit {
    display: block;
    margin: 10px 0 20px;
}

.submit > input {
    width: 100%;
    height: 60px;
    color: #ffffff;
    background: #000000;
    text-align: center;
    border: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
}


#login_box > #sub_menu {
    margin: 36px 0;
    display: block;
    height: 22px;
    padding: 0;
}

#sub_menu > li {
    float: left;
    margin-left: 20px;
}

#sub_menu > li:first-child {
    margin-left: 10px;
}

#sub_menu > li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #aaa;
    margin-left: 20px;
    position: relative;
    top: 2px;
}

#sub_menu > li:nth-child(3)::after {
    display: none;
}

#sub_menu > li > a {
    color: #aaa;
    font-size: 14px;
}

#social {
    width: auto;
    margin: 30px 0 35px;
}

#kakao {
    width: 100%;
    height: 42px;
    background-color: #fee500;
    border: 1px #fee500 solid;
    border-radius: 6px;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
    position: relative;
}

#apple {
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    margin-top: 10px;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
    position: relative;
}
#social > a {
    display: block;
}
#social > a > span {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -13px;
}

#social > #kakao > span::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    /*background: url(../images/bg_social.png) no-repeat;*/
    background-size: 60px 30px;
    position: relative;
    top: 10px;
}

#social > #apple > span::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    /*background: url(../images/bg_social.png) no-repeat;*/
    background-size: 60px 30px;
    background-position: -30px 0;
    position: relative;
    top: 12px;
}

#non_member {
    width: 100%;
    height: auto;
}

.tap_head {
    width: 100%;
    height: 49px;
    margin: 0 auto;
}

.tap_head .active{
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    color: #000;
}

.tap_head>a {
    display: block;
    float: left;
    width: 49%;
    height: 49px;
    text-align: center;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    color: #aaa;
    border-bottom: none;
    font-size: 14px;
}

.tap_head>a>span {
    position: relative;
    top: 15px;
}



#tap_contents1 {
    width: 100%;
    height: auto;
}

#tap_contents1 > .title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 16px 0 10px;
}

#tap_contents1 > #text {
    width: 100%;
    height: 200px;
    border: 1px solid #aaa;
    overflow-y: scroll;
    padding: 8px 10px;
    box-sizing: border-box;
    font-size: 12px;
    color: #777;
    line-height: 18px;
}

#tap_contents1 .checkbox {
    margin-top: 10px;
    height: 22px;
    display: inline-block;
    /*background: url("../images/check_small_off.png") left no-repeat;*/
    background-size: 20px 20px;
    cursor: pointer;
    padding-left: 30px;
    font-size: 14px;
    line-height: 22px;
    color: #aaa;
}

#tap_contents1 .checkbox_on{
    /*background: url("../images/check_small_on.png") left no-repeat;*/
    background-size: 20px 20px;
    color: #000;
}

#agree{
    display: none;
}

#tap_contents1 > .submit {
    margin-top: 30px;
}

#tap_contents2 {
    width: 100%;
    height: auto;
}

#tap_contents2 label {
    display: block;
    font-size: 14px;
    margin: 16px 0 5px;
}

#tap_contents2 > .submit {
    margin-top: 30px;
}

#tap_contents2 .input {
    width: 100%;
    height: 50px;
    padding: 15px 10px 14px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#footer > #footer_menu {
    margin: 36px 0;
    display: block;
    height: 22px;
}

#footer_menu > li {
    float: left;
    margin-left: 15px;
}

#footer_menu > li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #aaa;
    margin-left: 20px;
    position: relative;
    top: 2px;
}

#footer_menu > li:nth-child(3)::after {
    display: none;
}

#footer_menu > li > a {
    color: #aaa;
    font-size: 14px;
}
